{% extends 'home/base.html' %}
{% block content %}

    <header class="masthead" style="background-image:url('{{ service.service_image.url }}')" id="about-page">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ service.service_text }} </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Post Content -->
    <section class=" py-5" id="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Relevant Services:</h2>
            <ul>
                {% for list in services %}
              <li>{{ list.services }}</li>
                {% endfor %}
              <!-- Add more technologies if needed -->
            </ul>
          </div>
         <div class="col-md-6">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ service.service_image.url }}" alt="Moses Sampson" class="d-block w-100">
            </div>
              {% for image in services_image %}
            <div class="carousel-item">
              <img src="{{ image.img_s.url }}" alt="Moses Sampson" class="img-fluid">
            </div>
              {% endfor %}
            <!-- Add more carousel items as needed -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
        </div>
      </div>
        </div>
      </div>
    </section>
{% endblock %}

